* {
    scroll-behavior: smooth;
}

:root {
    --orange: #FB5607;
    --black: #171717;
    --white: #F4F5F5;
}


/* Nav Styling */

nav {
    height: 4.68em;
    background-color: var(--black);
    position: fixed;
    width: 100%;
}


/* Landing Styling */

#welcome-section {
    background-image: url(hero.jpg);
    height: 60vh;
    padding-top: 4.68em;
    color: var(--white);
}

span {
    color: var(--orange);
}

.card-block {
    padding: 10px;
}